
@{
    ViewData["Title"] = "Authorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" style="text-align:center">
    Bạn phải đăng nhập tài khoản Admin để truy cập trang quản lý !
</div> 